@font-face {
  font-family: Quicksand;
  src: url('./Quicksand-VariableFont_wght.ttf');
  font-weight: 1 999;
  font-stretch: 0% 100%;
  font-optical-sizing: 0 100;
}

* {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

body {
  background-color: #faf3dd;
}

.back-button {
  align-items: center;
  background-color: #F0EFEB;
  border-top: 2px solid black;
  color: black;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  padding: 2px 0;
  text-decoration: none;
  width: 100%;
}